*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    background-image: url("../images/sky.jpeg");
    background-position:bottom;
    background-size: cover;
    border: 2px solid skyblue;
    border-radius: 5px;
}

h1{
    text-align: center;
    color:floralwhite;
    padding: 18px 0 6px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.page{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.searchSection{
    width: 30%;
    height: 100%;
}

.inputdiv{
    margin-right: 5px;
    text-align: center;
}

.input{
    height: 35px;
    border: 2px solid skyblue;
    outline: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
    font-size: large;
    text-align: center;
}

.searchButton,
.btn{ 
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    color: skyblue;
    width: 100%;
    height: 35px;
    border: 2px solid  skyblue;
    border-radius: 5px;
    font-size: larger;
}

.delButton{
    margin-top: 10px;
    color: red;
    border: 2px solid red;
    height: 35px;
    visibility: hidden;
}

.searchButton:hover,
.btn:hover{
    background-color: skyblue;
    color: floralwhite;
}

.delButton:hover{
    background-color: red;
}

ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    border-top: 2px dotted skyblue;
}

li{
    height: 35px;
    width: 100%;
    border: 2px solid skyblue;
    border-radius: 5px;
    margin: 5px 0px;
    align-items: center;
    background-color: skyblue;
    color: white;
    padding-top: 5px;
    font-size: large;
}

li:hover{
    background-color: white;
    color:  skyblue;
}

.weatherSection{
    display: flex;
    flex-direction: column;
    width: 70%;
    visibility: hidden;
    height: auto;
}

.details{
    display: flex;
    flex-direction: column;
    border: 2px solid skyblue;
    border-radius: 5px;
    margin: 5px 0px 10px 5px;
    padding: 5px 0px 5px 10px;
    height: auto;
}

.title{
    display: flex;
    flex-direction: row;
}


h2{
    margin: 5px;
    color: skyblue;
    font-size: xx-large;
    font-weight: 600;
}

#cityUVIndex{
    color: floralwhite;
    margin-left: 26px;
    padding: 2px 5px 2px 4px;
    width:fit-content;
    border-radius: 5px;
}

.weatherImg,
#day1img,
#day2img,
#day3img,
#day4img,
#day5img{
    height: 60px;
    width: fit-content;
}

.weatherImg{
    position: relative;
    bottom: 5px;
}

h3{
    margin: 5px;
    color: skyblue;
    font-weight: 500;
    padding-left: 15px;
    margin-left: 15px;
}

.forecast{
    display: flex;
    flex-direction: column;
    border: 2px solid skyblue;
    border-radius: 5px;
    margin: 5px 0px 0px 5px;
    padding: 0px 10px 0px 10px;
    height: auto;
}

.forecast h2{
    font-weight: 300;
    font-size:x-large;
    padding: 10px 0px 15px 0px;
}

.forecastdivs{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;
}

.day{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border-radius: 5px;
    width: auto;
    height: auto;
    margin: 10px;
    justify-content: space-around;

}

.day h3{
    color: white;
    padding: 15px 20px;
    margin: 0px;
}

@media screen and (max-width:800px) {
    .delButton{
        font-size: small;
    }
    h1{
        font-size: 36px;
    }
}