*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    top: 0;
    background-image: url("../images/sky.jpeg");
    background-position:bottom;
    background-size: cover;
}

h1{
    text-align: center;
    color:floralwhite;
    padding: 30px 0 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    font-weight: normal;
    border-bottom: 2px solid floralwhite;
}

.page{
    display: flex;
    flex-direction: row;
    height: 86vh;
}

.searchSection{
    width: 20%;
    height: 100%;
}

.inputdiv{
    margin-right: 5px;
    text-align: center;
}

.input{
    height: 40px;
    border: 2px solid skyblue;
    outline: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 35px;
    overflow: none;
    font-size: large;
    text-align: center;
}

.searchButton,
.btn{ 
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    background-color: white;
    color: skyblue;
    width: 100%;
    height: 40px;
    border: 2px solid  skyblue;
    border-radius: 5px;
    font-size: larger;
}

.delButton{
    margin-top: 10px;
    color: red;
    border: 2px solid red;
}

.searchButton:hover,
.btn:hover{
    background-color: skyblue;
    color: floralwhite;
}

.delButton:hover{
    background-color: red;
}

ul{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-top: 15px;
    margin-right: 5px;
    text-align: center;
    border-top: 2px dotted skyblue;
}

li{
    height: 35px;
    width: 100%;
    border: 2px solid skyblue;
    border-radius: 5px;
    margin: 5px 0px;
    align-items: center;
    background-color: skyblue;
    color: white;
    padding-top: 5px;
    font-size: large;
}

li:hover{
    background-color: white;
    color:  skyblue;
    font-weight: bold;
}

.weatherSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 2px solid skyblue;
}

.details{
    display: flex;
    flex-direction: column;
    border: 2px solid skyblue;
    margin: 5px 0px 5px 5px;
    padding: 10px 0px 10px 10px;
    height: 40%;
}

h2{
    margin: 10px;
    color: skyblue;
    font-size: xx-large;
    font-weight: 600;
}

h3{
    margin: 10px;
    color: skyblue;
    font-weight: 500;
}

.forecast{
    display: flex;
    flex-direction: column;
    border: 2px solid skyblue;
    margin: 5px 0px 5px 5px;
    padding: 10px 10px 10px 10px;
    height: 60%;
}

.forecast h2{
    font-weight: 300;
    font-size:x-large;
    padding: 10px 0px 35px 0px;
}

.forecastdivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day{
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    border-radius: 5px;
    width: 15%;
    height: 120%;
    justify-content: space-around;
}

.day h3{
    color: white;
}

@media screen and (max-width:800px) {
    .delButton{
        font-size: small;
    }
}